.chartBox {
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}
.container {
    text-align: center;
}
.containerHead{
    background-color: rgb(153, 144, 144);
    padding: 2em;
    border-radius: 20px;
}
button {
    background-color: white;
    color: white;
    border-radius: 5px;
    border: 5px solid #a557c9; /* Green */
    background-color: #a557c9;
}